//images
 $backgroundImg: url(../assets/negative-space-black-forest-dawn.jpg);
  //&__profiles
  $rakib: url(../assets/profiles/Rakib_Square.png);
  $alexandra: url(../assets/profiles/Alexandra_Square.png);
  $lasse: url(../assets/profiles/NoPerson_Square.png); 
  $sebastian: url(../assets/profiles/Sebastian_Square.png);
